STATISTICS

In [159]:
import pandas as pd
from scipy import stats

In [149]:
x = pd.read_csv("diabetes.csv")
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

One-Sample t-Test
Purpose: Tests whether the mean of a single sample.
When to Use:
You have one group of data and a specific value (population mean) you want to compare it against.
Example: Testing whether the average age of patients is 33 years

In [169]:
data = x["Age"].dropna().values

In [175]:
import pandas as pd
from scipy import stats

# Example DataFrame
data = pd.DataFrame({"Age": [28, 35, 40, 25, 50]})

# Extract 'Age' values and drop NaN
x = data["Age"].dropna().values

# Assumed population mean
mean = 33

# Perform one-sample t-test
t_stat, p_value = stats.ttest_1samp(x, mean)

# Print p-value and conclusion
print("p_value:", p_value)
if p_value > 0.05:
    print("The mean of the sample is the same as the assumed mean.")
else:
    print("The mean of the sample is not the same as the assumed mean.")

p_value: 0.5909210201475481
The mean of the sample is the same as the assumed mean.

Two-Sample t-Test (Independent t-Test)
Purpose: Compares the means of two independent groups to see if there is a significant difference between thefrom scipy.stats import ttest_ind
When to use:
Example: Comparing the average test scores of students from two different schools

In [177]:
import pandas as pd
from scipy.stats import ttest_ind

# Example DataFrame
data = pd.DataFrame({
    "Age": [28, 35, 40, 25, 50],
    "BloodPressure": [120, 125, 130, 118, 140]
})

# Clean data and extract values
x = data["Age"].dropna().values
y = data["BloodPressure"].dropna().values

# Perform a two-sample t-test
t_stat, p_value = ttest_ind(x, y)

# Print p-value and conclusion
print("p-value:", p_value)
if p_value > 0.05:
    print("Both means are the same (fail to reject null hypothesis).")
else:
    print("Both means are different (reject null hypothesis).")

p-value: 3.320952307370099e-07
Both means are different (reject null hypothesis).

Paired t-Test (Dependent t-Test)
Purpose: Compares the means of two related samples (before and after, or paired data).
When to use:
Example: Measuring weight loss before and after a fitness program for the same individuals.

In [179]:
from scipy.stats import ttest_rel

# Replace these with actual numerical data
x = [25, 30, 35, 40, 45]  # Example: Before
y = [27, 29, 34, 39, 46]  # Example: After

# Perform a dependent t-test (paired t-test)
stats, p_value = ttest_rel(x, y)

print("p-value:", p_value)
#print("test stats is:", stats)  # Uncomment to view the test statistic

# Interpret the results
if p_value > 0.05:
    print("The mean of the sample is not significantly different (fail to reject the null hypothesis).")
else:
    print("The mean of the sample is significantly different (reject the null hypothesis).")

p-value: 1.0
The mean of the sample is not significantly different (fail to reject the null hypothesis).

one sample Z-test

In [181]:
import numpy as np
from scipy.stats import norm

# Sample data
sample_mean = 172
population_mean = 170
population_std = 10
n = 50

# Calculate Z-score
z_score = (sample_mean - population_mean) / (population_std / np.sqrt(n))

# Calculate p-value (two-tailed test)
p_value = 2 * (1 - norm.cdf(abs(z_score)))

print(f"Z-score: {z_score}")
print(f"P-value: {p_value}")

# Decision
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The mean is not 170 cm.")
else:
    print("Fail to reject the null hypothesis: The mean is 170 cm.")

Z-score: 1.4142135623730951
P-value: 0.157299207050285
Fail to reject the null hypothesis: The mean is 170 cm.

In [ ]:
ANOVA

In [183]:
import numpy as np
from scipy.stats import f_oneway

# Data: Heights of plants under different treatments
group1 = [20, 21, 19, 18, 22]  # Treatment A
group2 = [30, 28, 27, 26, 29]  # Treatment B
group3 = [25, 24, 23, 22, 26]  # Treatment C

# Perform One-Way ANOVA
f_stat, p_value = f_oneway(group1, group2, group3)

# Results
print(f"F-statistic: {f_stat}")
print(f"P-value: {p_value}")

# Decision
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: At least one group mean is different.")
else:
    print("Fail to reject the null hypothesis: All group means are the same.")

F-statistic: 32.0
P-value: 1.549551171121654e-05
Reject the null hypothesis: At least one group mean is different.

In [ ]:
Mann-Whitney U in Python:

In [185]:
from scipy.stats import mannwhitneyu

# Example data: Two independent groups
group1 = [12, 14, 15, 19, 21]
group2 = [22, 24, 30, 35, 40]

# Perform the Mann-Whitney U test
stat, p_value = mannwhitneyu(group1, group2, alternative='two-sided')

# Output results
print(f"U statistic: {stat}")
print(f"P-value: {p_value}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: The two groups have different distributions.")
else:
    print("Fail to reject the null hypothesis: The two groups have the same distribution.")

U statistic: 0.0
P-value: 0.007936507936507936
Reject the null hypothesis: The two groups have different distributions.

Regression analysis slope and intercept

In [187]:
import pandas as pd

# Example data: Price (x) and Quantity (y)
data = {
    "price": [10, 20, 30, 40, 50],
    "quantity": [100, 90, 80, 70, 60]
}
df = pd.DataFrame(data)

# Step 1: Calculate required sums
xy = (df["price"] * df["quantity"]).sum()  # Sum of xy
x = df["price"].sum()                      # Sum of x
y = df["quantity"].sum()                   # Sum of y
x1 = (df["price"]**2).sum()                # Sum of x^2
x2 = (df["price"].sum())**2                # Square of sum of x
n = len(df)                                # Number of data points

# Step 2: Calculate slope (Î²1)
slope = ((n * xy) - (x * y)) / ((n * x1) - x2)
print("Slope (Î²1):", slope)

# Step 3: Calculate intercept (Î²0)
intercept = (y - slope * x) / n
print("Intercept (Î²0):", intercept)

# Step 4: Display the regression equation
print(f"Regression Line: y = {intercept:.2f} + {slope:.2f}x")

Slope (Î²1): -1.0
Intercept (Î²0): 110.0
Regression Line: y = 110.00 + -1.00x

Karl

In [189]:
import numpy as np
from scipy.stats import pearsonr

# Example data
x = [1,2,3,4,5]
y = [2,4,6,8,10]
# pearson correlation
r,p = pearsonr(x,y)

print("Pearson Correlation test:")
print("Correlation coefficient")
print("p- value:",p)

#Interpretation
if p > 0.05:
  print("The data is likely not correlated (fail to reject H0). ")
else:
  print("The data is correlated (reject H0). ")

Pearson Correlation test:
Correlation coefficient
p- value: 0.0
The data is correlated (reject H0).

Spearman

In [191]:
from scipy.stats import spearmanr

#Example Data
x = [1,2,3,4,5]
y = [5,6,7,8,7]
#Spearman Correlation
rho, p = spearmanr(x,y)

print("spearman Correlation Test:")
print("Correlation Coefficinet (p):", rho)
print(f"p- vlaue:",p)
#interception
if p>0.05:
   print("the data i likely  not correlated (fail to reject H0).")
else:
  print("The data is correlated (reject H0).")

spearman Correlation Test:
Correlation Coefficinet (p): 0.8207826816681233
p- vlaue: 0.08858700531354381
the data i likely  not correlated (fail to reject H0).

Use Pearson when you expect a linear relationship and data meets the normality assumption.
Use Spearman when the relationship is monotonic, not necessarily linear, or the data is ordinal or not normally distributed.

Shapiro

In [193]:
from scipy.stats import shapiro

# Example data
data = [12, 15, 14, 16, 15, 14, 13, 15, 14]

# Perform Shapiro-Wilk test
stat, p_value = shapiro(data)

print("Shapiro-Wilk Test:")
print("Test Statistic:", stat)
print("p-value:", p_value)

# Interpretation
alpha = 0.05
if p_value > alpha:
    print("Data is normally distributed (fail to reject Hâ‚€).")
else:
    print("Data is not normally distributed (reject Hâ‚€).")

Shapiro-Wilk Test:
Test Statistic: 0.9404069010757281
p-value: 0.586188338882565
Data is normally distributed (fail to reject Hâ‚€).

In [195]:
from scipy.stats import normaltest

# Example data
data = [12, 15, 14, 16, 15, 14, 13, 15, 14]

# Perform D'Agostino and Pearson's normality test
stat, p_value = normaltest(data)

print("Normality Test (D'Agostino and Pearson):")
print("Test Statistic:", stat)
print("p-value:", p_value)

# Interpretation
alpha = 0.05
if p_value > alpha:
    print("Data is normally distributed (fail to reject Hâ‚€).")
else:
    print("Data is not normally distributed (reject Hâ‚€).")

Normality Test (D'Agostino and Pearson):
Test Statistic: 0.7349836393513778
p-value: 0.6924689914063993
Data is normally distributed (fail to reject Hâ‚€).

C:\Users\Sumit\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=9
  res = hypotest_fun_out(*samples, **kwds)